---
import type { MarkdownInstance } from "astro";
import Base from "../../layouts/Base.astro";
import type { BlogPostFrontmatter } from "../../types";
import { formatDate } from "../../utils";

let posts = await Astro.glob<BlogPostFrontmatter>("./*.md");
type Post = MarkdownInstance<BlogPostFrontmatter>;

posts = posts.sort((num1: Post, num2: Post): any => {
  if (num1.frontmatter.date > num2.frontmatter.date) {
    return -1;
  }

  if (num2.frontmatter.date > num1.frontmatter.date) {
    return 1;
  }
});
---

<Base title="Blog posts">
  <section class="w-screen h-auto max-w-[1080px] m-auto">
    <h2 class="mb-8 text-4xl sm:text-6xl text-center mt-4">Favorite books</h2>

    <div class="flex flex-col justify-center">
      {
        posts.map((post) => (
          <article class="flex justify-center align-center h-auto w-full sm:max-h-[400px] max-h-[250px] bg-slate-100 my-2">
            <aside class="h-full self-center">
              <img
                class="w-[150px] sm:w-[300px]"
                src={`/images/${post.frontmatter.urlImg}`}
                alt=""
              />
            </aside>

            <div class="flex flex-col w-full justify-between px-2 sm:px-0  md:p-4 border-b ">
              <div>
                <a class="text-green-700 hover:underline sm:text-lg md:text-2xl lg:text-3xl" href={post.url}>
                  <strong>{post.frontmatter.title}</strong>
                </a>
                <p class="font-bold sm:text-lg md:text-2xl">{formatDate(post.frontmatter.date)}</p>
              </div>
           <div class="h-[100%] flex items-center">
            <p class="text-sm sm:text-lg md:text-2xl lg:text-4xl">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                laboriosam voluptatibus aspernatur tempora explicabo quo aperiam
                eligendi numquam..
              </p></div>
            </div>
          </article>
        ))
      }
    </div>
  </section>
</Base>
