
/*
  @media screen and (max-width: 1310px) {
    .heroText {
      font-size: 2rem;
    }
    .heroText h1 {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1152px) {
    .heroText {
      font-size: 1.5rem;
    }
    .heroText h1 {
      font-size: 4rem;
    }
  }
  @media screen and (max-width: 1025px) {
    .heroSection .heroImage {
      width: 40vw;
    }
    .heroText h1 {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 350px) {
    .heroSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .heroSection .heroText{
      margin-top: 2rem;
      margin-left: 3em;
    }
    
    .heroSection .heroImage {
      width: 60vw;
    }
    .heroText h1 {
      font-size: 3.5rem;
    }
    .heroSection .heroText{
        margin-left: 0;
      }
      .verticalHero {
        display: none;
      }
  }

  @media screen and (max-height: 730px) {
    .heroSection {
      height: auto;
      min-height: 100vh;
      padding: 10vh 0;
    }
  }*/