---
import Base from '../layouts/Base.astro';
---

<Base title="About Me">
<section class="about w-[100vw] h-[100vh] bg-slate-400">
    <h1>About</h1>
</section>
<section class="second hide w-[100vw] h-[100vh] grid place-items-center content-center bg-black text-yellow-100">
    <h2 class="text-8xl">Second</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ratione delectus reprehenderit, a soluta, facilis eligendi voluptatibus ab suscipit, eum error nesciunt officia enim laboriosam ea exercitationem provident animi molestiae!</p>
</section>

<section class="second hide w-[100vw] h-[100vh] grid place-items-center content-center bg-red-200 text-blue-600">
    <h2 class="text-8xl">Third</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ratione delectus reprehenderit, a soluta, facilis eligendi voluptatibus ab suscipit, eum error nesciunt officia enim laboriosam ea exercitationem provident animi molestiae!</p>
</section>
<section class="second hide w-[100vw] h-[100vh] grid place-items-center content-center bg-green-200 text-blue-600">
    <h2 class="text-8xl">Fourth</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ratione delectus reprehenderit, a soluta, facilis eligendi voluptatibus ab suscipit, eum error nesciunt officia enim laboriosam ea exercitationem provident animi molestiae!</p>
</section>

<section class="second hide w-[100vw] h-[100vh] grid place-items-center content-center bg-yellow-400 text-blue-600">
    <h2 class="text-8xl">Second</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ratione delectus reprehenderit, a soluta, facilis eligendi voluptatibus ab suscipit, eum error nesciunt officia enim laboriosam ea exercitationem provident animi molestiae!</p>
    <span class="paragraphs">
        <img class="w-[100px] hide" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_27729.png&f=1&nofb=1&ipt=a1e02da4f9cf595345963e44d864398c36c4613a331d5da1f4e21ef2bbcc56da&ipo=images" alt="" />

        <img class="w-[100px] hide" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_27729.png&f=1&nofb=1&ipt=a1e02da4f9cf595345963e44d864398c36c4613a331d5da1f4e21ef2bbcc56da&ipo=images" alt="" />

        <img class="w-[100px] hide" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_27729.png&f=1&nofb=1&ipt=a1e02da4f9cf595345963e44d864398c36c4613a331d5da1f4e21ef2bbcc56da&ipo=images" alt="" />

        <img class="w-[100px] hide" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_27729.png&f=1&nofb=1&ipt=a1e02da4f9cf595345963e44d864398c36c4613a331d5da1f4e21ef2bbcc56da&ipo=images" alt="" />
     
    </span>
</section>
</Base>


<style>
 
</style>