---
import Base from "../layouts/Base.astro";
import Boxes from "../components/Box.astro";
import Hero from '../components/Hero.astro';


---

<Base title="Disease">
  <main>
    <Hero />
 	  <Boxes />
  </main>
</Base>

<style>
 @import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Noto+Sans:ital,wght@0,500;1,600&display=swap');

  .border {
    border: 1px solid red;
  }
  /*
  .anime:hover img {
    transform: rotateY(360deg);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 4s ease-in-out;
    border-radius: 100%;
  }*/

  .heroActive {
    background: black;
    transition: 2s ease-in;
}


  .heroActive h2,
  .heroActive h1,
  .heroActive h4 {
    transition: 2s ease-in;
  }

  .heroActive .anime img {
    transform: rotateY(180deg);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 2s ease-in-out;
  }
  .normalFont {
    transition: 6s ease-in-out;
  }

.bloodFont{
	font-family: 'Creepster', cursive;
}

  .heroNonActive .anime img {
    transform: rotateY(0deg);
    transition: 3s;
  }

  main {
    margin: auto;
  }

  .hero {
    width: 100vw;
    max-width: 1920px;
    height: calc(100vh - 60px);
    transition: 2s ease-in-out;
	  font-family: 'Creepster', cursive;
  }

  .mainPage div img {
    width: 500px;
    height: 500px;
  }
/*
  .box {
    background-color: #153acc;
    margin: 5em 0;
    border-radius: 10px;
    transform: translateX(400%);
    transition: transform 0.4s ease-in-out;
  }

  .box:nth-of-type(even) {
    transform: translateX(-400%);
  }

  .box.show {
    transform: translateX(0);
  }*/
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  /*
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }*/

</style>
