---
import Base from "../layouts/Base.astro";
import SectionsHero from "../components/SectionsHero.astro";
import Hero from '../components/Hero.astro';


---

<Base title="Disease">
  <main>
    <Hero />
 	  <SectionsHero />
  </main>
</Base>

