---
import Base from "../layouts/Base.astro";
import Boxes from "../components/Box.astro";
import Hero from '../components/Hero.astro';


---

<Base title="Disease">
  <main>
    <Hero />
 	  <Boxes />
  </main>
</Base>

